.header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

#brushes {
  background-color: mediumspringgreen;
  font-size: 32px;
  color: white;
}
#frames {
  background-color: lightcoral;
  font-size: 32px;
  color: white;
}
#paint {
  background-color: skyblue;
  font-size: 32px;
  color: white;
}

h2, p {
  font-family: Helvetica;
}
.blue {
  font-weight: bold;
  color: blue;
}
